html {
    background:#023047;
}
a {
    color: chocolate;
}

.defaultClass {
    color: aliceblue;
}

.tabs {
    display: inline-block; 
    width: 10%;
    margin: 0px 0px 4px 0px; 
    padding: 0px 0px 0px 4px; 
    border-width: 0px 0px 4px 0px; 
    border-color: whitesmoke; 
    border-style: solid;
}

.firstFlex {
    display: inline-flex;
    flex-direction: row;
    background-color: yellow;
}

.firstFlex > * {
    flex-basis: 100px;
}